# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.properties

# IntelliJ IDEA
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/*
*.iws
*.iml
*.ipr

# Eclipse
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/nb-gradle/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# User data
user.id

